# Voiceline Information
```javascript
client.voicelines.get(`<String>`) // Get ship by ID or name in any language
```
## Return Value
> The return value when fetched:

```ts
{
  class Ship {
    Default: Array<Line>;
    [Skin Name]: Array<Line>;
    ...
  }
}
```

###Voiceline Information

<div class="center-column"></div>

```ts
{
  class Line {
      event: string;  // the event (touch etc) name
      en?: string;    // the line in english
      zh?: string;    // the line in chinese
      jp?: string;    // the line in japanese
      audio?: string; // the line's audio url, file type = "audio/ogg"
  }
}
```
