# Voiceline Information
<aside class="notice">
This section is currently undergoing construction.
</aside>
## Return Value
> The return value when fetched:

```json
  "Default": "Check Voiceline Information";
  "[Skin Name]": "Check Voiceline Information";
```

###Voiceline Information

<div class="center-column"></div>

```json
{
    "event": "Event (touch etc) name",
    "en?": "Line in english",
    "zh?": "Line in chinese",
    "jp?": "Line in japanese",
    "en?": "Audio url, file type = audio/ogg"
}
```
