# Voiceline Information
<aside class="notice">
This Section is Work In Progress, do not refer to this page until further notice
</aside>
## Resulting Information
> The Resultant JSON is structured like this:

```json
  "Default": "Check Voiceline Information";
  "[Skin Name]": "Check Voiceline Information";
```

###Voiceline Information

<div class="center-column"></div>

```json
{
    "event": "Event (touch etc) name",
    "en?": "Line in english",
    "zh?": "Line in chinese",
    "jp?": "Line in japanese",
    "en?": "Audio url, file type = audio/ogg"
}
```
